h1{
    color: grey;
   background-color: honeydew;
   border:5px solid black;
}
li{
    
    color: black;
    font-size: large;
}
h4{
    color: rgba(3, 100, 124, 0.8);
} 
body{
    /* background-color: khaki; */
    background-image: url(https://www.xtrafondos.com/wallpapers/naruto-uzumaki-minimalista-3619.jpg);
    background-size: cover; 
    /* preenche a pagina não importa o tamanho */
}
 /* Exemplo hexa{
     color: #FF0000; vermelho
     color: #00FF00; verde
     color: #0000FF; azukl
     usar colorpicker
 }
    Exemplo RGB{
        color: rgb(255,0,0); vermelho
        color: rgb(0,255,0); verde
    }
  */