<%- include("partials/header") %>
<h1>You fell in love with:<%= thing %></h1>
<p>this is the love.ejs file</p>

<%if(thing.toLowerCase() == "naruto"){ %>
<p>prefiro sasuke</p>
<%}else{ %> tente naruto <%}%>
<%- include("partials/footer") %>