<h1>Friends list</h1>

<%amigos.forEach(function(amigo){%>
    <li><%=amigo%></li>
    <%})%>

 <form action="/addamigo" method="POST">
    <input type="text" placeholder="nome" name="novoAmigo">
    <button>Enviar</button>
</form>